/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// Alignment QC
//

process {

    withName: '.*BAM_QC.*:.*' {
        publishDir = [
            path : { "${params.outdir}/reports/QC/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // withName: 'PICARD_.*' {
    //     // container = "docker.io/broadinstitute/picard:latest"
    //     container = "docker.io/broadinstitute/picard:3.4.0"
    // }

    withName: VERIFYBAMID_VERIFYBAMID2 {
        ext.args = {"--DisableSanityCheck --NumPC 4 --Output " + meta.id}
    }

}
