/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// QC Coverage Regions options
//

process {

    withName: '.*QC_COVERAGE_REGIONS:D4_COVERAGE_STATS.*' {
        publishDir = [
            path : { "${params.outdir}/qc_coverage_regions" },
            mode: params.publish_dir_mode,
            // saveAs: { filename -> meta2.id ? filename.replace("${meta.id}_", "${meta.id}.${meta2.id}_") : filename }
        ]
    }

    withName: '.*QC_COVERAGE_REGIONS:D4_COVERAGE_STATS.*:D4TOOLS_STAT_MEAN' {
        ext.prefix = { "${meta.id}.${meta2.id}_mean" }
    }

    withName: '.*QC_COVERAGE_REGIONS:D4_COVERAGE_STATS.*:D4TOOLS_STAT_MEDIAN' {
        ext.args = { "--stat median" }
        ext.prefix = { "${meta.id}.${meta2.id}_median" }
    }

    withName: '.*QC_COVERAGE_REGIONS:D4_COVERAGE_STATS.*:D4TOOLS_STAT_PCOV' {
        ext.args = { "-H --stat perc_cov=5,15,20,30,50,100,200" }
        ext.prefix = { "${meta.id}.${meta2.id}_pcov" }
    }

    withName: '.*QC_COVERAGE_REGIONS:D4_COVERAGE_STATS.*:D4TOOLS_STAT_COUNT' {
        ext.args = { "--stat count" }
        ext.prefix = { "${meta.id}.${meta2.id}_count" }
    }

}
