/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// QC Coverage Regions options
//

process {

    withName: 'MOSDEPTH|.*QC_COVERAGE_REGIONS.*' {
        publishDir = [
            path: { "${params.outdir}/reports/QC/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*BAM_QC.*:MOSDEPTH' {
        ext.args = {"--no-per-base" +  (params.regions_bed ? " --thresholds 5,15,20,30,50,100,200,300,400,500,1000" : "")}
    }

    withName: '.*QC_COVERAGE_REGIONS_.*:MOSDEPTH' {
        ext.args = "--no-per-base --thresholds 5,15,20,30,50,100,200,300,400,500,1000"
    }

    withName: '.*QC_COVERAGE_REGIONS_R1:.*'{
        ext.prefix = { meta.id + ".qc_regions_1"}
    }

    withName: '.*QC_COVERAGE_REGIONS_R1:COVERAGE_BY_GENE'{
        ext.prefix = { meta.id + ("." + (params.region_1_name ?: "qc_regions_1")) }
    }

    withName: '.*QC_COVERAGE_REGIONS_R2:.*'{
        ext.prefix = { meta.id + ".qc_regions_2"}
    }

    withName: '.*QC_COVERAGE_REGIONS_R2:COVERAGE_BY_GENE'{
        ext.prefix = { meta.id + ("." + (params.region_2_name ?: "qc_regions_2")) }
    }

}
