/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {
    withName: 'SOMALIER_*' {
        container = "biocontainers/somalier:0.3.0--hc78c8e0_0"
    }

    withName: SOMALIER_RELATE {
        ext.args = "--infer"
        ext.prefix = { meta.id + ".somalier"}
        publishDir = [
            path: { params.somalier_perfamily ?
                "${params.outdir}/reports/pedigree/${meta.id}" :
                "${params.outdir}/reports/pedigree" },
            mode: params.publish_dir_mode,
            pattern : '{*.html,*.tsv}'
        ]
    }

    withName: SOMALIER_EXTRACT {
        publishDir = [
            path: { "${params.outdir}/reports/QC/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern : '*.somalier'
        ]
    }
}
