/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// QC Coverage Regions options
//

process {

    withName: '.*VQC_QC:.*' {
        publishDir = [
            path : { "${params.outdir}/reports/vcf_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'COUNT_INS' {
        ext.prefix = {"${meta.id}.ins"}
        ext.args = { "-H -f PASS -v indels -i 'ILEN>0' --output-type v"}
    }

    withName: 'COUNT_DEL' {
        ext.prefix = {"${meta.id}.del"}
        ext.args = { "-H -f PASS -v indels -i 'ILEN<0' --output-type v"}
    }

    withName: 'COUNT_SNV' {
        ext.prefix = {"${meta.id}.snp"}
        ext.args = { "-H -f PASS -v snps --output-type v"}
    }

    withName: 'HET_SNV' {
        ext.prefix = {"${meta.id}.het_snp"}
        ext.args = { "-H -f PASS -v snps -g het --output-type v"}
    }

    withName: 'HOM_SNV' {
        ext.prefix = {"${meta.id}.homo_snp"}
        ext.args = { "-H -f PASS -v snps -g hom --output-type v"}
    }

    withName: 'HET_INDEL' {
        ext.prefix = {"${meta.id}.het_indel"}
        ext.args = { "-H -f PASS -v indels -g het --output-type v"}
    }

    withName: 'HOM_INDEL' {
        ext.prefix = {"${meta.id}.homo_indel"}
        ext.args = { "-H -f PASS -v indels -g hom --output-type v"}
    }

    withName: 'STATS_TSTV' {
        ext.prefix = {"${meta.id}"}
        ext.args = { "-f PASS"}
    }

}
