/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Ferlab-Ste-Justine/quality-control-pipeline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '4.GB',
        time: '1.h'
    ]
}

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = "data-test/testSamplesheet.csv"
    ped_file    = "data-test/testPedigree.ped"
    outdir = "results"
    publish_all = true

    skip_reheader =  true
    cohort_mode = false

    fasta = "data-test/reference/homo_sapiens/GRCh38_full_analysis_set_plus_decoy_hla.chr20XY.fasta"
    fai = "data-test/reference/homo_sapiens/GRCh38_full_analysis_set_plus_decoy_hla.chr20XY.fasta.fai"
    fasta_dict = "data-test/reference/homo_sapiens/GRCh38_full_analysis_set_plus_decoy_hla.chr20XY.dict"
    somalier_sites = "data-test/reference/somalier/somalier_sites.chr20XY.hg38.vcf.gz"
    verifybamid_svd_prefix = "data-test/reference/verifyBamID/hgdp.10k.b38.vcf.gz.dat"
    ngscheckmate_snp_pt = "data-test/reference/NGScheckmate/SNP.pt"

    regions_bed = "data-test/reference/regions/1000G_Exome.chr20XY.bed"
    qc_coverage_region_1 = "data-test/reference/regions/knownGenes_codingexons_Gencode48_canonical.chr20XY.bed"

}

